@font-face {
    font-family: 'Amatica SC';
    src: url('../fonts/Amaticsc.ttf') format('truetype');
}

html {
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body {
    background-color: #80a8cc;
}

.TW {
    margin: 85px auto;
    width: 1200px;
    background-color: #fcf9f4;
    box-shadow: 10px 10px 48px 10px#6d91b1;
}

.TW-header {
    display: flex;
    height: 75px;
    position: relative;
}

.header-logo {
    flex: 1;
    text-align: right;
    border-right: 1px solid #eae7e3;
}

.header-logo img {
    height: 100%;
    margin-right: 25px;
}

.header-nav {
    flex: 3;
}

.nav-list {
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline-block;
    margin: 0 12px;
    line-height: 75px;
}

.nav-list li a {
    color: #d8d6d5;
}

.header-donate {
    border-left: 1px solid #eae7e3;
    flex: 1;
    line-height: 75px;
}

.donate-button {
    width: 125px;
    height: 40px;
    margin-left: 25px;
    color: #4d4e59;
    border: 1px solid #dad7d2;
    border-radius: 3px;
    background-color: #fcf9f4;
}

.TW-introduction {
    position: relative;
    height: 550px;
    background: url('../images/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction-content {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    color: #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1)
}

.content-text {
    font-family: 'Amatica SC', cursive;
    font-size: 60px;
    font-weight: 100;
    margin: 15px 0;
}

.introduction-content button {
    font-family: 'Amatica SC', cursive;
    font-size: 24px;
    border: 1px solid #fff;
    color: #fff;
    height: 45px;
    width: 175px;
    border-radius: 5px;
    margin-left: 16px;
}

.student {
    background-color: transparent;
}

.tutor {
    background-color: rgba(255, 255, 255, 0.2)
}

.TW-mission {
    height: 400px;
}

.mission-content {
    color: #4d4e59;
    text-align: center;
    padding: 55px 225px 0 225px;

}

.content-detail {
    font-size: 20px;
    font-family: 'Open Sans';
    color: #636471;
    line-height: 35px;
}

.donate {
    width: 225px;
    height: 45px;
    background-color: #ffcd62;
    border: none;
    border-radius: 5px;
    color: #636471;
}

.TW-students, .TW-partners {
    display: flex;
    height: 400px;
    background-color: #91d0b1;
    position: relative;
}

.students-icon, .partners-icon {
    flex: 1;
    display: flex;
    align-items:center;
}

.icon-box {
    height: 225px;
    width: 225px;
    line-height: 225px;
    font-size: 105px;
    border-radius: 50%;
    text-align: center;
    
}

.students-icon .icon-box, .partners-icon .icon-box {
    color: #91d0b1;
    background-color: #77ae93;
    margin-left: 250px;
}

.students-content, .partners-content {
    flex: 1;
    padding-top: 45px;
    color: #fff;
}

.carousel-controller {
    list-style: none;
    position: absolute;
    right: 95px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.controller-item {
    width: 16px;
    height: 16px;
    background-color: #77ae93;
    border-radius: 50%;
    margin: 8px 0;
}

.controller-item.active {
    background-color: #fff;
}

.students-content .content-detail, .partners-content .content-detail {
    color: #fff;
    font-size: 16px;
    padding-right: 155px;
    line-height: 25px;
    margin: 0;
}

.start-learning {
    width: 225px;
    height: 45px;
    border: none;
    background-color: #77ae93;
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
}

.TW-tutors {
    display: flex;
    height: 400px;
    background-color: #ffcd62;
}

.tutors-content {
    flex: 1;
    padding-left: 225px;
    color: #fff;
    padding-top: 45px;
}

.tutors-content .content-detail {
    color: #fff;
    font-size: 16px;
    padding-right: 125px;
    line-height: 25px;
    margin: 0;
}

.tutors-icon {
    flex: 1;
    display: flex;
    align-items: center;
}

.tutors-icon .icon-box {
    color: #ffcd62;
    background-color: #eabc5b;
}

.join-us, .help-us {
    width: 225px;
    height: 45px;
    border: none;
    background-color: #eabc5b;
    border-radius: 5px;
    color: #fff;
    margin-top: 25px;
}

.TW-partners {
    background-color: #80a8cc;
}

.help-us {
    background-color: #6d91b1;
}

.partners-icon .icon-box {
    background-color: #6d91b1;
    color: #80a8cc;
}

.TW-progress {
    height: 550px;
    background-color: #fcf9f4;
    text-align: center;
}

.progress-content .content-text {
    margin: 115px 0 65px 0;
    color: #909094;
}

.TW-progress .content-details {
    display: flex;
    padding: 0 125px;
}

.content-details>div {
    border: 1px solid #eeece7;
    margin: 0 8px;
    height: 255px;
    border-radius: 5px;
}

.details-hours {
    flex: 1;
    color: #91d0b1;
}

.details-sessions {
    flex: 1;
    color: #ffcd62;
}

.details-volunteer {
    flex: 1;
    color: #80a8cc;
}

.detail-number {
    font-size: 72px;
    font-family: 'Amatica SC';
    margin: 35px 0;
}

.datail-name {
    font-size: 16px;
}

.TW-footer {
    height: 75px;
    background-color: #4d4e59;
    text-align: center;
    line-height: 75px;
    color: #d4d2d0;
}